In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Load the dataset
data = pd.read_csv('troop_movements.csv')

display(data)

,timestamp,unit_id,unit_type,empire_or_resistance,location_x,location_y,destination_x,destination_y,homeworld
0,2024-07-10 13:29:43,1,tie_silencer,resistance,5,4,2,9,Chandrila
1,2024-07-10 13:29:42,2,resistance_soldier,empire,5,5,5,1,Bestine IV
2,2024-07-10 13:29:41,3,at-st,resistance,3,2,4,2,Socorro
3,2024-07-10 13:29:40,4,stormtrooper,empire,2,9,9,4,Kalee
4,2024-07-10 13:29:39,5,at-at,resistance,9,4,7,9,Tholoth
...,...,...,...,...,...,...,...,...,...
995,2024-07-10 13:13:08,996,x-wing,empire,5,1,10,10,Ojom
996,2024-07-10 13:13:07,997,at-at,empire,6,6,7,10,Malastare
997,2024-07-10 13:13:06,998,x-wing,resistance,6,3,2,2,Trandosha
998,2024-07-10 13:13:05,999,tie_fighter,empire,8,8,8,2,Champala
999,2024-07-10 13:13:04,1000,tie_silencer,empire,7,4,3,4,Iridonia